.navbar{
  height:70px;
  background:#1e293b;
  color:white;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 40px;

  box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.logo{
  font-size:24px;
  font-weight:700;
}

.nav-links{
  display:flex;
  gap:25px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-weight:500;
}

.nav-links a:hover{
  color:#38bdf8;
}

.user-section{
  display:flex;
  align-items:center;
  gap:15px;
}

.logout-btn{
  background:#ef4444;
  color:white;
  border:none;
  padding:8px 16px;
  border-radius:8px;
  cursor:pointer;
}